#launch-training-button {
    padding: 10px 20px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(135deg, #FFB74D, #FF7043);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease-out, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
}

#launch-training-button:hover {
    background: linear-gradient(135deg, #FFA726, #FF5722);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
}

#launch-training-button:disabled {
    cursor: wait;
}

#launch-training-button .loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

#launch-training-button .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}

#launch-training-button .loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: rgb(225, 50, 85);
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

.chart-legend span {
    margin: 5px;
}
